Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
# ganti nama web aplikasi anda di bawah ini
RewriteBase /yii/isims/
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php